{{>layouts/header}}

<br>
<h1>병원 정보 리스트</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">병원명</th>
        <th scope="col">도로명주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/hospitals/{{id}}" style="text-decoration:none; color:black">{{hospitalName}}</a></td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<div style="text-align:center;">
        <a href="/hospitals/list?page={{previous}}">이전 페이지</a>
        <a href="/hospitals/list?page={{next}}">다음 페이지</a>
</div>
{{>layouts/footer}}