{{>layouts/header}}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">병원명</th>
        <th scope="col">도로명주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/hospitals/{{id}}">{{hospitalName}}</a></td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>

{{>layouts/footer}}